
/* user-modal */
#user-modal .modal-options {
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 0;
  max-height: 0;
}
#user-modal .modal-options.active {
  margin-top: 32px;
  max-height: 100%;
}
#user-modal .modal-switch.active .icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
